body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.url-bar {
  margin-top: 16px;
}

.url-bar input {
  font-size: 20px;
  padding: 6px 6px 6px 6px;
  width: 50%;
}

.url-bar button {
  position: relative;
  top: -1px;
  height: 40px;
  width: 130px;
  font-size: 20px;
}

.links div {
  padding: 16px 16px 16px 16px;
}